<% provide(:title, "About") %>
    <h1>About</h1>
    <p>
      This is a sample app modeled off of the
      <a href="https://www.learnenough.com/">Learn Enough</a>
      tutorial for
      <a href="https://www.railstutorial.org/"><em>Ruby on Rails</em></a>.
      <br>
      It features a simple social media post feed with full sign up,
      email verification, log in, password reset, and session remembering, built
      using Test Driven Development
      <br>
      The app is deployed on Heroku, and the source code can be found on
      <a href="https://github.com/GuitHuib/rails_app">Github</a>
    </p>
