<% provide(:title, "Help") %>
    <h1>Help</h1>
    <p>
      Upon verification of your account, you can immediately make posts,
      including uploading images up to 5Mb.
    </p>
    <p>
      Your feed on your home page and user profile features your own posts, as
      well as posts from any followed users.
    </p>
    <p>
      To follow/unfollow users, navigate to the users profile through the
      <%= link_to "Users", users_path %>
      page, then click on the appropriate button at the top of the page.
    </p>
