<div class="center jumbotron">
  <h1>Welcome to Ryan's Rails App</h1>

  <h2>
    This is the home page for Ryan's app built using Ruby on Rails.
    <br>
    Create an account, post content, follow fellow posters, and build your feed!
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
                      "https://rubyonrails.org/" %>

<%#= image_tag("kitten.jpg", alt: "Kitten") %>
